{% extends 'base.html.twig' %}
{% set is_edit = (action == constant('App\\Controller\\ReservationController::ACTION_EDIT')) %}
{% if (action % 2) == constant('App\\Controller\\ReservationController::ACTION_ADD') %}
  {% set main_title = 'Dodawanie rezerwacji' %}
  {% set main_icon = 'bx bx-calendar-plus' %}
{% else %}
  {% set main_title = 'Zmiana rezerwacji' %}
  {% set main_icon = 'bx bx-calendar-edit' %}
{% endif %}
{% block main %}

  <h2 class="main-title">{{ main_icon|ico }}{{ main_title|trans }}</h2>
  {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if form.requester is defined %}
      <div class="form-group jqslct2-min-width">
        {{ form_label(form.requester) }}
        {{ form_errors(form.requester) }}
        {{ form_widget(form.requester, {attr: {
          class: 'jqslct2-single-user', 
        }}) }}
      </div>
      {{ include('jqslct2-single-user.html.twig') }}
    {% endif %}
    <div class="form-group jqslct2-min-width">
      {{ form_label(form.room) }}
      {{ form_errors(form.room) }}
      {{ form_widget(form.room, {attr: {
        size: 12, 
        class: 'jqslct2-single-room', 
      }}) }}
    </div>
    {{ include('jqslct2-single-room.html.twig') }}
    {{ form_row(form.begin_time, {attr: {class: 'form-group'}}) }}
    {{ form_row(form.end_time) }}
    {{ form_row(form.details, {attr: {
      required: send_request, 
      style: 'width: 99%', 
      placeholder: 'Ćwiczenie'
    }}) }}
    {% if send_request %}
      <div id="send-request-checkbox" class="form-group">
        <input type="checkbox" id="reservation_send_request" 
          name="reservation[send_request]" required="required" value="1" />
        <label for="reservation_send_request" class="required">
          {{ 'Składam wniosek o rezerwację sali'|trans }}
        </label>
      </div>
    {% endif %}
    <div class="form-group button-row">
      {% if is_edit %}
        <a class="button" href="{{ path('reservation_show', {id: rsvn.id}) }}">
          {{ 'bx bx-arrow-back'|ico }}{{ 'Anuluj'|trans }}
        </a>
      {% endif %}
      {% if action >= constant('App\\Controller\\ReservationController::ACTION_RQST_ADD') %}
        <a class="button" href="#" onclick="history.back()">
          {{ 'bx bx-arrow-back'|ico }}{{ 'Wstecz'|trans }}
        </a>
      {% endif %}
      <button type="submit" name="send" value="send"
        class="{{ is_edit ? 'enable-on-change' }}">
        {{ 'bx bx-upload'|ico }}{{ 'Wyślij'|trans }}
      </button>
    </div>
  {{ form_end(form) }}
  {% if send_request %}
    <script>
      $(['#reservation_requester', '#reservation_room', '#reservation_begin_time_date', 
        '#reservation_begin_time_time', '#reservation_end_time'].join(', '))
      .one('change', function() {
        $('#reservation_details').removeAttr('required');
        $('#reservation_send_request').parent().remove();
      });
    </script>
  {% endif %}

{% endblock %}