{% extends 'base.html.twig' %}
{% block main %}

  <h2 class="main-title">{{ main_icon|ico }}{{ main_title|trans }}</h2>
  {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if form.requester is defined %}
      {{ form_row(form.requester) }}
    {% endif %}
    {{ form_row(form.room) }}
    {{ form_row(form.begin_time) }}
    {{ form_row(form.end_time) }}
    {{ form_row(form.details, {attr: {required: send_request}}) }}
    {% if send_request %}
    <div class="form-group">
      <input type="checkbox" id="reservation_send_request" name="reservation[send_request]" required="required" value="1" />
      <label for="reservation_send_request" class="required">{{ 'Składam wniosek o rezerwację sali'|trans }}</label>
    </div>
    {% endif %}
    <div class="form-group button-row">
      <button type="submit" name="send" value="send">
        {{ 'bx bx-upload'|ico }}{{ 'Wyślij'|trans }}
      </button>
    </div>
  {{ form_end(form) }}
  {{ include('jqslct2-load.html.twig') }}

{% endblock %}