{% extends 'base.html.twig' %}

{% block title %}{{ 'Dodawanie rezerwacji'|trans }}{% endblock %}

{% block main %}
  <h2>{{ 'Dodawanie rezerwacji'|trans }}</h2>
  {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group button-row">
      <button type="submit" name="send" value="send">
        <i class="fas fa-share-square"></i>{{ 'Wyślij'|trans }}
      </button>
    </div>
  {{ form_end(form) }}
  {{ include('jqslct2-load.html.twig') }}
{% endblock %}