{% extends 'base.html.twig' %}

{% block title %}{{ 'Rezerwacja'|trans }}{% endblock %}

{% block main %}
  <h2>{{ 'Rezerwacja'|trans }}</h2>
  <p>Nazwa użytkownika: {{ rsvn.requester.username }}</p>
  <p>Adres e-mail: {{ rsvn.requester.email }}</p>
  <p>Sala: {{ rsvn.room.title }}</p>
  <p>Termin rozpoczęcia: {{ rsvn.beginTime|date('Y-m-d H:i:s') }}</p>
  <p>Godzina zakończenia: {{ rsvn.endTime|date('H:i:s') }}</p>
  <p>Cel rezerwacji: {{ rsvn.details }}</p>
{% endblock %}