{% extends 'base.html.twig' %}
{% set main_title = 'Rezerwacja' %}
{% block main %}

  <h2 class="main-title">{{ 'bx bx-calendar-alt'|ico }}{{ main_title|trans }}</h2>
  <p>
    {% trans %}Nazwa użytkownika{% endtrans %}:
    <span class="p-sub">
      <a href="{{ path('user_show', {id: rsvn.requester.id}) }}">{{ rsvn.requester.fullname }}</a>
      ➜ <a href="{{ path('rsvn_view_user', 
        {'id': rsvn.requester.id, 'date': rsvn.beginTime|date('Y-m-d')}) }}">rezerwacje</a>
    </span>
  </p>
  <p>
    {% trans %}Adres e-mail{% endtrans %}:
    <span class="p-sub">
      <a href="mailto:{{ rsvn.requester.email }}">{{ rsvn.requester.email }}</a>
    </span>
  </p>
  <p>
    {% trans %}Nazwa sali{% endtrans %}:
    <span class="p-sub">
      <a class="rounded-border" 
        href="{{ path('room_show', {id: rsvn.room.id}) }}">{{ rsvn.room.title }}</a> 
      ➜ <a href="{{ path('rsvn_view_week', 
        {'id': rsvn.room.id, 'date': rsvn.beginTime|date('Y-m-d')}) }}">rezerwacje</a>
    </span>
  </p>
  <p>
    {% trans %}Dzień rozpoczęcia{% endtrans %}:
    <span class="p-sub">
      {{ app.request.locale|icu_date(rsvn.beginTime, false) }}
      ➜ <a href="{{ path('rsvn_view_day', 
        {'date': rsvn.beginTime|date('Y-m-d'), 'roomId': rsvn.room.id}) }}">rezerwacje</a>
    </span>
  </p>
  <p>
    {% trans %}Czas trwania{% endtrans %}:
    <span class="p-sub">
      {{ rsvn.beginTime|date('H:i') }} ⇔ {{ rsvn.endTime|date('H:i') }}
    </span>
  </p>
  <p>
    {% trans %}Cel rezerwacji{% endtrans %}:
    <span class="p-sub">
      {{ rsvn.details|default('Ćwiczenie')|trans }}
    </span>
  </p>
  <div class="form-group button-row">
    {% if can_edit_rsvn %}
      <a class="button" href="{{ path('reservation_edit', {rsvn_id: rsvn.id}) }}">
        {{ 'bx bx-edit'|ico }}{{ 'Zmień'|trans }}
      </a>
      <form action="{{ path('reservation_delete', { id: rsvn.id }) }}" method="post">
        <input type="hidden" name="token" value="{{ csrf_token('reservation_delete') }}"/>
        <button type="submit" class="button" 
          onclick="return confirm('{{ 'Czy na pewno chcesz usunąć rezerwację?'|trans }}')">
          {{ 'bx bx-trash'|ico }}{{ 'Usuń'|trans }}
        </button>
      </form>
    {% endif %}
  </div>

{% endblock %}