{% extends 'base.html.twig' %}
{% set main_title = 'Edycja ograniczenia' %}
{% block main %}

  <h2 class="main-title">{{ 'bx bx-edit'|ico }}{{ main_title|trans }}</h2>

  {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.begin_date) }}
    {{ form_row(form.end_date) }}
    {{ form_row(form.schedule) }}
    {{ form_row(form.exclusions, {attr: {class: 'jqslct2-multiple-select'}}) }}
    <script>
      $('select.jqslct2-multiple-select').select2({
        width: '99%',
      });
    </script>
    <p class="form-group button-row">
      <a class="button" href="{{ path('constraint_index') }}">
        {{ 'bx bx-arrow-back'|ico }}{{ 'Anuluj'|trans }}
      </a>
      <button type="submit" name="save" value="save">
        {{ 'bx bx-save'|ico }}{{ 'Zapisz'|trans }}
      </button>
      <button type="submit" name="delete" value="delete"
        onclick="return confirm('{{ 'Czy na pewno chcesz usunąć ograniczenie?'|trans }}')">
        {{ 'bx bx-trash'|ico }}{{ 'Usuń'|trans }}
      </button>
    </p>
  {{ form_end(form) }}

{% endblock %}
