{% extends 'base.html.twig' %}
{% set main_title = 'Wnioski o rezerwację' %}
{% block main %}

	<h2 class="main-title">{{ 'bx bx-file'|ico }}{{ main_title|trans }}</h2>

  <style>
	  .list-table > table, .slide-button + tr > td { width: 100%; }
    .right-float-panel { float: right; margin: 0 0 0.5em 0; }
		.right-float-panel .button { margin: 0 0 0 0.5em; }
		.slide-button { cursor: pointer; }
		.slide-button:hover, .slide-button.open { color: #2d2dc5; }
		.list-table .slide-cell { padding: 0 0.5em; }
		.slide-content > p { margin: 0 0 0.5em 0; }
	</style>
	<div class="list-table">
		<table>
			<thead>
				<tr>
          <th>Użytkownik</th>
					<th>Sala</th>
					<th>Termin</th>
				</tr>
			</thead>
			<tbody>
				{% for rqst in requests %}
					<tr class="slide-button">
						<td>{{ rqst.requester.fullname }}</td>
						<td>{{ rqst.room.title }}</td>
						<td>{{ rqst.beginTime|date('d.m.Y H:i') }}-{{ rqst.endTime|date('H:i') }}</td>
					</tr>
					<tr>
						<td colspan="3" class="slide-cell">
							<div class="slide-content">
								<div class="form-group button-row right-float-panel">
									{% if is_granted(constant('App\\CustomTypes\\UserLevel::ADMIN')) %}
										<a class="button" href="{{ path('reservation_add_request', {id: rqst.id}) }}">
											{{ 'bx bx-calendar-plus'|ico }}{{ 'Dodaj'|trans }}
										</a>
									{% endif %}
									<form action="{{ path('request_delete', {id: rqst.id}) }}" method="post">
										<input type="hidden" name="token" value="{{ csrf_token('request_delete') }}"/>
										<button type="submit" class="button" 
											onclick="return confirm('{{ 'Czy na pewno chcesz odrzuć wniosek?'|trans }}')">
											{{ 'bx bx-trash'|ico }}{{ 'Odrzuć'|trans }}
										</button>
									</form>
								</div>
								<p><b>{{ 'Powód'|trans }}:</b> {{ rqst.error|rsvn_err_val }}</p>
								<p><b>{{ 'Uzasadnienie'|trans }}:</b> {{ rqst.details }}</p>
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">Nie znaleziono wniosków.</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<script>
	  $('.slide-content').hide();
		$('.slide-button').click(function() {
			$(this).toggleClass('open');
			$(this).next().find('.slide-content').slideToggle('fast');
		});
	</script>

{% endblock %}
