{% extends 'base.html.twig' %}
{% set main_title = 'Dodawanie sali' %}
{% block main %}

  <h2 class="main-title">{{ 'bx bx-add-to-queue'|ico }}{{ main_title|trans }}</h2>
  {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group button-row">
      <button type="submit" name="save" value="save">
        {{ 'bx bx-plus'|ico }}{{ 'Dodaj'|trans }}
      </button>
    </div>
  {{ form_end(form) }}

{% endblock %}

