{% extends 'base.html.twig' %}

{% block title %}{{ 'Dodawanie sali'|trans }}{% endblock %}

{% block main %}
  <h2>{{ 'Dodawanie sali'|trans }}</h2>
  {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group button-row">
      <button type="submit" name="save" value="save">
        <i class="fas fa-plus"></i>{{ 'Dodaj'|trans }}
      </button>
    </div>
  {{ form_end(form) }}
{% endblock %}

