{% extends 'base.html.twig' %}

{% block title %}{{ 'Dodawanie sali'|trans }}{% endblock %}

{% block main %}
  <h2 class="main-title">{{ 'bx bx-add-to-queue'|ico }}{{ 'Dodawanie sali'|trans }}</h2>
  {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group button-row">
      <button type="submit" name="save" value="save">
        {{ 'bx bx-plus'|ico }}{{ 'Dodaj'|trans }}
      </button>
    </div>
  {{ form_end(form) }}
{% endblock %}

