{% set dev_rand = (app.environment == 'dev') ? random() : '' %}
<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#bc1e12">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <title>{{ app_name }}{% if main_title is defined %} » {{ main_title|trans }}{% endif %}</title>
    <link href="{{ asset('css/fonts.css') }}" rel="stylesheet">
    <link href="{{ asset('css/boxicons.min.css') }}" rel="stylesheet">
    <script src="{{ asset('js/piechnat-menu.js') }}"></script>
    <link href="{{ asset('css/piechnat-menu.css') }}" rel="stylesheet">
    <script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>
    {% set select2_ver = '4.1.0-rc.0' %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/{{ select2_ver }}/css/select2.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/{{ select2_ver }}/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/{{ select2_ver }}/js/i18n/pl.min.js"></script>
    <link href="{{ asset('css/style.css') }}{{ dev_rand }}" rel="stylesheet">
    {% block before_head %}{% endblock %}
  </head>
  <body>
    <header id="navigation-bar">
      <div class="placeholder"></div>
      <div class="container">
      <div class="logo-wrapper">
        <a href="{{ path('main') }}">
          <img src="{{ asset('images/am.png') }}" alt="AM"
          ><span class="logo-title">
            <span>e</span><span>&ndash;rezerwacja</span>
          </span>
        </a>
      </div>
      <div class="menu-wrapper">
        <input type="checkbox" autocomplete="off">
        <div class="hamburger-button">
        <span></span><span></span><span></span>
        </div>
        <div class="blurred-bg"></div>
        <nav class="menu-panel">
          {{ knp_menu_render('main', {'allow_safe_labels': true})}}
        </nav>
      </div>
      </div>
    </header>
    <div id="main-wrapper">
      <div class="main-container">
        <main>
          {% block main %}{% endblock %}
        </main>
        <footer>
          {% block footer %}
            <hr>
            <p>
              © {{ 'now'|date('Y') }} {{ app_signature|trans }}. {{ 'Wszelkie prawa zastrzeżone'|trans }}.
              <a href="{{ path('about') }}">
                <span class="nowrap">{{ app_name }}</span> » {{ 'Informacje i pomoc'|trans }}.
              </a>
            </p>
          {% endblock %}
        </footer>
      </div>
    </div>
    <script>
      (function($form) {
        $('.hide-on-load', $form).hide();
        $('.enable-on-change', $form).prop('disabled', true);
        $form.on('submit', function() {
          this.submit();
          $(':input', this).prop('disabled', true);
          return false;
        });
        $('.submit-on-change', $form).on('change', function() {
          if (this.form.checkValidity()) {
            $(this.form).submit();
          } else {
            try { this.form.reportValidity() } catch (e) {}
          }
        });
        $form.one('change, input', function() {
          $('.enable-on-change', this).prop('disabled', false);
        });
      })($('form'));
    </script>
    {% block before_body %}{% endblock %}  
  </body>
</html>
