<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#bc1e12">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <title>E-rezerwacja » {% block title %}{% endblock %}</title>
    <link href="{{ asset('css/fonts.css') }}" rel="stylesheet">
    <script src="{{ asset('js/piechnat-menu.js') }}"></script>
    <link href="{{ asset('css/piechnat-menu.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}?{{ random() }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" 
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" 
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" 
      integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" 
      crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" 
      integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" 
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/i18n/pl.min.js" 
      integrity="sha512-zXISX8YFu4dxrDDHJ27XNfF4Zs4oV+l3gWjuGqsZoINDEYW++MPGHdr/hVT2ahUi7vMP6lRkeh+m74oKUTcBKw==" 
      crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" rel="stylesheet">
    {% block before_head %}{% endblock %}
  </head>
  <body>
    <header id="navigation-bar">
      <div class="placeholder"></div>
      <div class="container">
      <div class="logo-wrapper">
        <a href="{{ path('main') }}">
          <img src="{{ asset('images/am.png') }}" alt="AM"
          ><span class="logo-title">
            <span>e</span><span>&ndash;rezerwacja</span>
          </span>
        </a>
      </div>
      <div class="menu-wrapper">
        <input type="checkbox" autocomplete="off">
        <div class="hamburger-button">
        <span></span><span></span><span></span>
        </div>
        <div class="blurred-bg"></div>
        <nav class="menu-panel">
          {{ knp_menu_render('main', {'allow_safe_labels': true})}}
        </nav>
      </div>
      </div>
    </header>
    <div class="main-wrapper">
      <div class="main-container">
        <main>
          {% block main %}{% endblock %}
        </main>
        <footer>
          {% block footer %}
            <hr>
            <p>
              © 2020 {% trans %}Akademia Muzyczna w Łodzi. Wszelkie prawa zastrzeżone.{% endtrans %}
              <a href="{{ path('about') }}">E-rezerwacja » Informacje i pomoc.</a>
            </p>
          {% endblock %}
        </footer>
      </div>
    </div>
    {% block before_body %}{% endblock %}  
  </body>
</html>
