<!DOCTYPE html>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#ac271e">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>e-rezerwacja » {% block title %}{% endblock %}</title>
        <script src="{{ asset('piechnat-menu.js') }}"></script>
        <link href="{{ asset('piechnat-menu.css') }}?{{ random() }}" rel="stylesheet" />
        <link href="{{ asset('style.css') }}?{{ random() }}" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/2a434de389.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/pl.js"></script>
    </head>
    <body>
        <header id="navigation-bar">
            <div class="placeholder"></div>
            <div class="container">
            <div class="logo-wrapper">
                <a href="{{ path('main') }}">
                    <img src="{{ asset('logo.png') }}" alt="E-rezerwacja">
                </a>
            </div>
            <div class="menu-wrapper">
                <input type="checkbox" autocomplete="off">
                <div class="hamburger-button">
                <span></span><span></span><span></span>
                </div>
                <div class="blurred-bg"></div>
                <nav class="menu-panel">
                    {{ knp_menu_render('main', {'allow_safe_labels': true})}}
                </nav>
            </div>
            </div>
        </header>
        <div class="main-wrapper">
            <div class="main-container">
                <main>
                    {% block main %}{% endblock %}
                </main>
                <footer>
                    {% block footer %}
                    <p>
                    © 2020 {% trans %}Akademia Muzyczna w Łodzi. Wszelkie prawa zastrzeżone.{% endtrans %}
                    {% trans %}Uwagi można kierować na adres{% endtrans %}
                    <a href="#" class="cryptedmail" data-name="mateusz.piechnat" data-domain="amuz.lodz" data-tld="pl"
                        onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;">
                    </a>
                    </p>
                    {% endblock %}
                </footer>
            </div>
        </div>
        {% block javascripts %}{% endblock %}  
    </body>
</html>
