{% extends 'base.html.twig' %}
{% set main_icon = 'bx bx-calendar-week' %}
{% set current_time = 'now'|date('H:i') %}
{% block main %}

{% block before_head %}
  <link href="{{ asset('css/table-view.css') }}{{ dev_rand }}" rel="stylesheet">
{% endblock %}

{% if table_view is null %}

  <h2 class="main-title">{{ main_icon|ico }}{{ main_title|trans }}</h2>
  {{ block('table_view_form') }}

{% elseif table_view.columns|length == 0 %}

  <h2 class="main-title">{{ main_icon|ico }}{{ main_title|trans }}</h2>
  {{ block('table_view_form') }}
  <p>{% trans %}Nie znaleziono sal spełniających zadane kryteria{% endtrans %}.</p>

{% elseif table_view.columns|length > 0 %}

  <div class="table-view">
    <div class="table-view-header">
      <div class="main-container">
        <div class="">
          {{ block('table_view_form') }}
        </div>
      </div>
    </div> 
    <div class="table-view-body">
      <table>
        <thead>
          <tr>
            <th></th>
            {% block table_view_headers %}{% endblock %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="hours-header">
            {% for hour in table_view.meta.hours_list %}
              {{ hour }}<br>
            {% endfor %}
            </th>
            {% for key, column in table_view.columns %}
            <td>
              {% for item in column %}
                {% if item.id > 0 %}
                <a href="{{ path('reservation_show', {id: item.id}) }}" title="{{ 'Zobacz'|trans }}">
                  <div class="rsvn-item" style="{{ item|col_css }}">
                    <div class="rsvn-fullname">{{ item.user_fullname }}</div>
                  </div>
                </a>
                {% else %}
                  {% block reservation_add_link %}{% endblock %}
                {% endif %}
              {% endfor %}
            </td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endif %}

{% endblock %}
