{% extends 'reservation/view/base.html.twig' %}
{% set main_title = 'Rezerwacje w dniu' %}

{% block table_view_form %}

  {{ form_start(form) }}
    <div class="form-flex-wrapper">
      <div class="form-group" style="flex-basis: 100%">
        {{ form_label(form.tags) }}
        {{ form_errors(form.tags) }}
        {{ form_widget(form.tags) }}
      </div>
      {{ form_row(form.operation) }}
      <div class="form-group">
      {% apply spaceless %}
        {{ form_label(form.date) }}
        {{ form_errors(form.date) }}
        {{ form_widget(form.date) }}
        <button type="submit">
          {{ 'bx bx-refresh'|ico }}OK
        </button>
      {% endapply %}
      </div>
    </div>
  {{ form_end(form) }}
  {{ include('jqslct2-load.html.twig') }}

{% endblock %}

{% block table_view_headers %}

  {% for header in table_view.headers %}
    <th>
      {{ header.title }}
    </th>
  {% endfor %}

{% endblock %}