{% extends 'reservation/view/base.html.twig' %}
{% set main_title = 'Rezerwacje w dniu' %}

{% block table_view_form %}
  {{ form_start(form) }}
    <div class="form-flex-wrapper">
      <div class="form-group" style="flex-basis: 100%">
        {{ form_label(form.tags) }}
        {{ form_errors(form.tags) }}
        {{ form_widget(form.tags, {attr: {class: 'jqslct2-multiple-select'}}) }}
      </div>
      {{ form_row(form.tag_intersect, {attr: {class: 'jqslct2-single-select'}}) }}
      <div class="form-group">
      {% apply spaceless %}
        {{ form_label(form.date) }}
        {{ form_errors(form.date) }}
        {{ form_widget(form.date) }}
        <button id="jqslct2-submit" type="submit">{{ 'bx bx-refresh'|ico }}OK</button>
      {% endapply %}
      </div>
    </div>
  {{ form_end(form) }}
  <script>
    $('select.jqslct2-multiple-select').select2({
      width: '99%',
    });
    $('select.jqslct2-single-select').select2({
      minimumResultsForSearch: Infinity, 
      width: 'style',
    });
  </script>
{% endblock %}

{% block table_view_headers %}
  {% for header in table_view.headers %}
    <th>
      <a href="{{ path('reservation_add', {
          room_id: header.id,
          beginTime: header.date|date('Y-m-d '~current_time)
        }) }}" title="{{ 'Dodaj'|trans }}">
        {{ header.title }}
      </a>
    </th>
  {% endfor %}
{% endblock %}

{% block reservation_add_link %}
  <a href="{{ path('reservation_add', {
      room_id: table_view.headers[key]['id'],
      beginTime: item.begin_time|date('Y-m-d H:i'),
      endTime: item.end_time|date('Y-m-d H:i')
    }) }}" title="{{ 'Dodaj'|trans }}">
    <div class="add-item" style="{{ item|col_css }}"></div>
  </a>
{% endblock %}
