{% extends 'reservation/view/base.html.twig' %}
{% set main_title = 'Rezerwacje w dniu' %}

{% block table_view_form %}

  {{ form_start(form) }}
    <div class="form-flex-wrapper">
      <div class="form-group" style="flex-basis: 100%">
        {{ form_label(form.tags) }}
        {{ form_errors(form.tags) }}
        {{ form_widget(form.tags, {attr: {class: 'jqslct2-multiple-select'}}) }}
      </div>
      {{ form_row(form.tag_intersect, {attr: {class: 'jqslct2-single-select'}}) }}
      <div class="form-group">
      {% apply spaceless %}
        {{ form_label(form.date) }}
        {{ form_errors(form.date) }}
        {{ form_widget(form.date) }}
        <button type="submit">{{ 'bx bx-refresh'|ico }}OK</button>
      {% endapply %}
      </div>
    </div>
  {{ form_end(form) }}
  <script>
    $('select.jqslct2-multiple-select').select2({
      width: '99%',
    });
    $('select.jqslct2-single-select').select2({
      minimumResultsForSearch: Infinity, 
      width: 'style',
    });
  </script>

{% endblock %}

{% block table_view_headers %}

  {% for header in table_view.headers %}
    <th>
      {{ header.title }}
    </th>
  {% endfor %}

{% endblock %}