{% extends 'reservation/view/base.html.twig' %}
{% set main_title = 'Rezerwacje użytkownika' %}

{% block table_view_form %}
  {{ form_start(form) }}
    <div class="form-flex-wrapper">
      <div class="form-group jqslct2-min-width">
        {{ form_label(form.user) }}
        {{ form_errors(form.user) }}
        {{ form_widget(form.user, {attr: {
          size: 12, class: 'jqslct2-single-user', 'data-text': user.fullname,
        }}) }}
      </div>
      <div class="form-group">
      {% apply spaceless %}
        {{ form_label(form.date) }}
        {{ form_errors(form.date) }}
        {{ form_widget(form.date) }}
        <button id="jqslct2-submit" type="submit">{{ 'bx bx-refresh'|ico }}OK</button>
      {% endapply %}
      </div>
    </div>
  {{ form_end(form) }}
  {{ include('jqslct2-load.html.twig') }}
{% endblock %}

{% block table_view_headers %}
  {% for header in table_view.headers %}
    <th class="{{ chosen_day == header.date|date('z') ? 'marked' : '' }}">
      {{ header.date|week_day|trans }}
    </th>
  {% endfor %}
{% endblock %}

{% block reservation_add_link %}
  <a href="{{ path('reservation_add', {
      room_id: 0,
      beginTime: item.begin_time|date('Y-m-d H:i'),
      endTime: item.end_time|date('Y-m-d H:i')
    }) }}">
    <div class="add-item" style="{{ item|col_css }}"></div>
  </a>
{% endblock %}