{% extends 'reservation/view/base.html.twig' %}
{% set main_title = 'Rezerwacje sali' %}

{% block table_view_form %}

  {{ form_start(form) }}
    <div class="form-flex-wrapper">
      <div class="form-group jqslct2-min-width">
        {{ form_label(form.room) }}
        {{ form_errors(form.room) }}
        {{ form_widget(form.room, {attr: {size: 12, class: 'jqslct2-single-room'}}) }}
      </div>
      <div class="form-group">
      {% apply spaceless %}
        {{ form_label(form.date) }}
        {{ form_errors(form.date) }}
        {{ form_widget(form.date) }}
        <button type="submit">{{ 'bx bx-refresh'|ico }}OK</button>
      {% endapply %}
      </div>
    </div>
  {{ form_end(form) }}
  {{ include('jqslct2-load.html.twig') }}

{% endblock %}

{% block table_view_headers %}

  {% for header in table_view.headers %}
    <th class="{{ chosen_day == header.date|date('z') ? 'marked' : '' }}">
      {{ header.date|week_day|trans }}
    </th>
  {% endfor %}

{% endblock %}