{% extends 'base.html.twig' %}

{% block title %}Dodawanie tagu{% endblock %}

{% block main %}
    <h2 class="main-title">Dodawanie tagu</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <p class="form-group button-row">
            <a class="button" href="{{ path('tag_index') }}">
                {{ 'bx bx-arrow-back'|ico }}Lista
            </a>
            <button type="submit" name="send" value="send">
                {{ 'bx bx-plus'|ico }}Dodaj
            </button>
        </p>
    {{ form_end(form) }}
    {{ include('jqslct2-load.html.twig') }}

{% endblock %}
