{% extends 'base.html.twig' %}
{% set main_title = 'Edycja etykiety' %}
{% block main %}

  <h2 class="main-title">{{ 'bx bx-edit'|ico }}{{ main_title|trans }}</h2>

  {% if edit_mode != 'entity' %}
    <p>Nazwa: {{ tag.name }}</p>
    <p>Funkcja wyszukiwania: {{ tag.search ? 'Tak' : 'Nie' }}</p>
    <p>Ograniczenie dostępu: {{ access_levels[tag.level] }}</p>
  {% endif %}

  {{ form_start(form) }}
    {{ form_errors(form) }}
    {% if edit_mode == 'entity' %}
      {{ form_row(form.name) }}
      {{ form_row(form.search) }}
      {{ form_row(form.level, {attr: {class: 'jqslct2-single-select'}}) }}
    {% elseif edit_mode == 'rooms' %}
      {{ form_row(form.rooms, {attr: {class: 'jqslct2-multiple-select-no-close'}}) }}
    {% elseif edit_mode == 'users' %}
      {{ form_row(form.ajax_users, {attr: {class: 'jqslct2-multiple-select-no-close'}}) }}
    {% endif %}
    <p class="form-group button-row">
      <a class="button" href="{{ path('tag_index') }}">
        {{ 'bx bx-arrow-back'|ico }}{{ 'Anuluj'|trans }}
      </a>
      <button type="submit" name="save" value="save">
        {{ 'bx bx-save'|ico }}{{ 'Zapisz'|trans }}
      </button>
      {% if edit_mode == 'entity' %}
        <button type="submit" name="delete" value="delete"
          onclick="return confirm('{{ 'Czy na pewno chcesz usunąć etykietę?'|trans }}')">
          {{ 'bx bx-trash'|ico }}{{ 'Usuń'|trans }}
        </button>
      {% endif %}
    </p>
  {{ form_end(form) }}
  <script>
  {% if edit_mode == 'entity' %}
    $('select.jqslct2-single-select').select2({
      minimumResultsForSearch: Infinity, 
      width: '10em',
    });
  {% elseif edit_mode == 'rooms' %}
    $('select.jqslct2-multiple-select-no-close').select2({
      closeOnSelect: false,
      width: '99%',
    });
  {% else %}
    $('select.jqslct2-multiple-select-no-close').select2({
      closeOnSelect: false,
      width: '99%',
      language: 'pl',
      minimumInputLength: 3,
      ajax: {
        url: '/jsonapi/find/users',
        dataType: 'json',
        delay: 400,
        cache: true,
      },
    });
  {% endif %}
  </script>

{% endblock %}
