{% extends 'base.html.twig' %}
{% set main_title = 'Lista etykiet' %}
{% block main %}

  <h2 class="main-title">{{ 'bx bx-purchase-tag'|ico }}{{ main_title|trans }}</h2>

  <div class="list-table">
    <table>
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>Sz.</th>
          <th>Ogranicz.</th>
        </tr>
      </thead>
      <tbody>
      {% for tag in tags %}
        <tr>
          <td><a href="{{ path('tag_edit', {'id': tag.id}) }}">{{ tag.name }}</a></td>
          <td>{{ tag.search ? 'Tak' : 'Nie' }}</td>
          <td>{{ access_levels[tag.level] }}</td>
          <td><a href="{{ path('tag_edit', {'id': tag.id, 'mode': 'rooms'}) }}">Sale</a></td>
          <td><a href="{{ path('tag_edit', {'id': tag.id, 'mode': 'users'}) }}">Użytkow.</a></td>
        </tr>
      {% else %}
        <tr>
          <td colspan="5">Nie znaleziono etykiet.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="form-group button-row">
    <a class="button" href="{{ path('tag_add') }}">
      {{ 'bx bx-plus'|ico }}{{ 'Dodaj'|trans }}
    </a>
  </div>

{% endblock %}
