{% extends 'base.html.twig' %}
{% set main_title = 'Lista etykiet' %}
{% block main %}

  <h2 class="main-title">{{ 'bx bx-purchase-tag'|ico }}{{ main_title|trans }}</h2>

  <div class="list-table">
    <table>
      <thead>
        <tr>
          <th>{{ 'Nazwa'|trans }}</th>
          <th>{{ 'Wysz.'|trans }}</th>
          <th>{{ 'Ogranicz.'|trans }}</th>
        </tr>
      </thead>
      <tbody>
      {% for tag in tags %}
        <tr>
          <td>
            {% if is_super_admin %}
              <a href="{{ path('tag_edit', {'id': tag.id}) }}">{{ tag.name }}</a>
            {% else %}
              {{ tag.name }}
            {% endif %}
          </td>
          <td>{{ tag.search ? '✔' : '' }}</td>
          <td>{{ access_levels[tag.level] }}</td>
          {% if not (tag in unauthorized_tags) %}
            <td><a href="{{ path('tag_edit', {'id': tag.id, 'mode': 'rooms'}) }}">{{ 'Sale'|trans }}</a></td>
            <td><a href="{{ path('tag_edit', {'id': tag.id, 'mode': 'users'}) }}">{{ 'Użytk.'|trans }}</a></td>
          {% endif %}
        </tr>
      {% else %}
        <tr>
          <td colspan="3">{% trans %}Nie znaleziono etykiet{% endtrans %}.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  {% if is_super_admin %}
    <div class="form-group button-row">
      <a class="button" href="{{ path('tag_add') }}">
        {{ 'bx bx-plus'|ico }}{{ 'Dodaj'|trans }}
      </a>
    </div>
  {% endif %}

{% endblock %}
