{% extends 'base.html.twig' %}

{% block title %}{{ 'Edycja użytkownika'|trans }}{% endblock %}

{% block main %}
  <h2 class="main-title">{{ 'bx bx-edit'|ico }}{{ 'Edycja użytkownika'|trans }}</h2>
  {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group button-row">
      <a class="button" href="{{ path('user_show', {id: user.id}) }}">
        {{ 'bx bx-arrow-back'|ico }}Profil
      </a>
      <button type="submit" name="save" value="save">
        {{ 'bx bx-save'|ico }}{{ 'Zapisz'|trans }}
      </button>
    </div>
  {{ form_end(form) }}
  {{ include('jqslct2-load.html.twig') }}
{% endblock %}