{% extends 'base.html.twig' %}

{% block title %}{{ 'Profil użytkownika'|trans }}{% endblock %}

{% block main %}
  <h2>{{ 'Profil użytkownika'|trans }}</h2>
  <p>Nazwa użytkownika: {{ user.fullname }}</p>
  <p>Adres e-mail: {{ user.email }}</p>
  <p>Język: {{ lang }}</p>
  <p>Typ konta: {{ user.accessname }}</p>
  {% if can_modify %}
  <p class="form-group button-row">
    <a class="button" href="{{ path('user_edit', {id: user.id}) }}">
      <i class="fas fa-edit"></i>{{ 'Edytuj'|trans }}
    </a>
  </p>
  {% endif %}
{% endblock %}