{% extends 'base.html.twig' %}
{% set main_title = 'Profil użytkownika' %}
{% block main %}

  <h2 class="main-title">{{ 'bx bx-id-card'|ico }}{{ main_title|trans }}</h2>

  {{ form_start(form) }}
    <div class="form-group">
      {{ form_label(form.email) }}
      {{ form_errors(form.email) }}
      {{ form_widget(form.email, {'attr': {'data-text': userFullname}}) }}
      <button id="jqslct2-submit" type="submit">
        {{ 'bx bx-refresh'|ico }}OK
      </button>
    </div>
  {{ form_end(form) }}
  {{ include('jqslct2-load.html.twig') }}
  <script>
    $('#jqslct2-submit').hide();
    $('select.jqslct2-single-user').change(function() {
      $(this.form).submit();
      $(this).prop('disabled', true);
    });
  </script>

  <p>Typ konta: {{ user.accessname|trans }}</p>
  <p>Adres e-mail: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
  <p>Język: {{ lang|trans }}</p>

  <p class="form-group button-row">
    <a class="button" href="{{ path('reservation_view_user') }}">
      {{ 'bx bx-calendar-week'|ico }}{{ 'Rezerwacje'|trans }}
    </a>
    {% if can_edit_user %}
      <a class="button" href="{{ path('user_edit', {id: user.id}) }}">
        {{ 'bx bx-edit'|ico }}{{ 'Edytuj'|trans }}
      </a>
    {% endif %}
    {% if is_granted('IS_IMPERSONATOR') %}
      {% if app.user.id == user.id %}
        <a class="button" href="{{ path('main', {_switch_user: '_exit'}) }}">
          {{ 'bx bx-user'|ico }}{{ 'Porzuć tożsamość'|trans }}
        </a> 
      {% endif %}
    {% else %}
      {% if is_granted('ROLE_ALLOWED_TO_SWITCH') and app.user.id != user.id %}
        <a class="button" href="{{ path('main', {_switch_user: user.email}) }}">
          {{ 'bx bx-user'|ico }}{{ 'Przyjmij tożsamość'|trans }}
        </a> 
      {% endif %}
    {% endif %}
  </p>

{% endblock %}