{% extends 'base.html.twig' %}
{% set main_title = 'Profil użytkownika' %}
{% block main %}

  <h2 class="main-title">{{ 'bx bx-id-card'|ico }}{{ main_title|trans }}</h2>

  {{ form_start(form) }}
    <div class="form-group">
      {{ form_label(form.user) }}
      {{ form_errors(form.user) }}
      {{ form_widget(form.user, {'attr': {
        class: 'jqslct2-single-user submit-on-change', 'data-text': user.fullname,
      }}) }}
      <button type="submit" class="hide-on-load">{{ 'bx bx-refresh'|ico }}OK</button>
    </div>
    {{ include('jqslct2-single-user.html.twig') }}
  {{ form_end(form) }}

  <p>
    {{ 'Typ konta'|trans }}: 
    <span class="p-sub">
      {{ user.accessname|trans }}
    </span>
  </p>
  <p>
    {{ 'Adres e-mail'|trans }}: 
    <span class="p-sub">
      <a href="mailto:{{ user.email }}">{{ user.email }}</a>
    </span>
  </p>
  <div class="tag-list">
    {{ 'Nadane etykiety'|trans }}:
    <ul>
    {% for tag in user.tags %}
      <li>{{ tag|trans }}</li>
    {% else %}
      <li>{{ 'żadne'|trans }}</li>
    {% endfor %}
    </ul>
  </div>
  <p>
    {{ 'Ostatnie logowanie'|trans }}: 
    <span class="p-sub">
      {{ app.request.locale|icu_date(user.lastLogin) }}
    </span>
  </p>
  <p>
    {{ 'Wybrany język'|trans }}: 
    <span class="p-sub">
      {{ lang|trans }}
    </span>
  </p>

  <p class="form-group button-row">
    {% if can_edit_user %}
      <a class="button" href="{{ path('user_edit', {id: user.id}) }}">
        {{ 'bx bx-edit'|ico }}{{ 'Edytuj profil'|trans }}
      </a>
    {% endif %}
    <a class="button" href="{{ path('rsvn_view_user', {id: user.id}) }}">
      {{ 'bx bx-calendar-week'|ico }}{{ 'Rezerwacje'|trans }}
    </a>
    {% if is_granted('IS_IMPERSONATOR') %}
      {% if app.user.id == user.id %}
        <a class="button" href="{{ path('main', {_switch_user: '_exit'}) }}">
          {{ 'bx bx-user'|ico }}{{ 'Porzuć tożsamość'|trans }}
        </a> 
      {% endif %}
    {% else %}
      {% if is_granted('ROLE_ALLOWED_TO_SWITCH') and app.user.id != user.id %}
        <a class="button" href="{{ path('main', {_switch_user: user.email}) }}">
          {{ 'bx bx-user'|ico }}{{ 'Przyjmij tożsamość'|trans }}
        </a> 
      {% endif %}
    {% endif %}
  </p>

{% endblock %}